
.card{
     width: 300px !important;
}



@media screen and (max-width : 500px){
  
.card{
     width: 180px !important;
}

}
.btn{
     
     color: gray;
     border: 1px solid black;
}

.btn:hover{
     background-color: rgb(103, 103, 155);
     border: 1px solid black;  
}